aiofiles==23.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
docutils==0.17.1
filelock==3.13.1
fsspec==2024.2.0
idna==3.6
Jinja2==3.1.3
MarkupSafe==2.1.5
mmcif-pdbx==2.0.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
pdb2pqr==3.6.2
pillow==10.2.0
polars==0.20.13
propka==3.5.1
requests==2.31.0
sympy==1.12
torch==2.2.1
torchvision==0.17.1
typing_extensions==4.10.0
urllib3==2.2.1
